/* ==========================================================================
   Drew skin
   ========================================================================== */

/* Colors */
$header-background-color: #4285f4 !default;
$background-color: #ffffff !default;
$text-color: #424242 !default;
$muted-text-color: #BBDEFB !default;
$primary-color: #424242 !default;
$border-color: mix(#fff, #BBDEFB, 75%) !default;
$footer-background-color: #FAFAFA !default;
$link-color: #212121 !default;
$masthead-link-color: #FFFFFF !default;
$masthead-link-color-hover: #f9f9f9 !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

footer {
  margin-top: 0 !important;
  padding: 1em !important;
}

.page__footer {
  color: #444 !important;
  background-color: #FAFAFA !important;
  font-weight: 100 !important;
  border-top: 2px solid #EEE !important;
}

.page__footer a {
  font-weight: 100 !important;
}

.page__footer-follow .social-icons .fa {
  color: inherit;
  font-weight: 100 !important;
}

.page__footer-copyright {
  color: #888;
  font-size: 12px !important;
}

.masthead {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .4);
  background-color: $header-background-color !important;
  color: #fff !important;
  border-bottom: 0px !important;
}

.masthead__inner-wrap {
  padding: 0 1em !important;
}

.masthead__menu-item a {
  font-size: 16px !important;
  text-transform: none !important;
}

.masthead__menu-item a:hover {
  border-bottom: 0 !important;
}

.greedy-nav {
  background-color: $header-background-color !important;
  color: #fff !important;
  text-shadow: 0 1px 1px #424242;
}

.site-title, .visible-links {
  color: #fff !important;
  font-weight: 100 !important;
  font-size: 20px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
}

.author__name {
  font-weight: 400 !important;
}

.archive__subtitle {
  font-weight: 400 !important;
  border-bottom: 1px solid #f0f0f0;
}
