/* ==========================================================================
   Drew skin
   ========================================================================== */

/* Colors */
$header-background-color: #4285f4 !default;
$background-color: #ffffff !default;
$text-color: #424242 !default;
$muted-text-color: #424242 !default;
$primary-color: #424242 !default;
$border-color: mix(#fff, #424242, 75%) !default;
$footer-background-color: $header-background-color !default;
$link-color: #212121 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #444 !important;
  background-color: #f0f0f0 !important;
  font-weight: 100 !important;
  border-top: 2px solid #bdbdbd !important;
}

.page__footer a {
  font-weight: 100 !important;
}

.page__footer-follow .social-icons .fa {
  color: inherit;
  font-weight: 100 !important;
}

.page__footer-copyright {
  color: #888;
  font-size: 12px !important;
}

.masthead {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  background-color: $header-background-color !important;
  color: #fff !important;
  border-bottom: 0px !important;
}

.masthead__inner-wrap {
  padding: 0 1em !important;
}

.greedy-nav {
  background-color: $header-background-color !important;
  color: #fff !important;
}

.site-title, .visible-links {
  color: #fff !important;
  font-weight: 100 !important;
  font-size: 18px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
}

.author__name {
  font-weight: 400 !important;
}

.archive__subtitle {
  font-weight: 400 !important;
  border-bottom: 1px solid #f0f0f0;
}
