<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/fa.min.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>
    <div class="container padding">
      {{ content }}
    </div>
    <footer>
      <div class="container">
        <ul>
          <li><i class="fa fa-envelope"></i><a href="mailto:andrew.j.smith.jr@gmail.com">andrew.j.smith.jr@gmail.com</a></li>
          <li><i class="fa fa-github"></i><a href="https://github.com/drewsmith">github.com/drewsmith</a></li>
          <li><i class="fa fa-twitter"></i><a href="https://twitter.com/hisdrewness">github.com/drewsmith</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
